
.css1 {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: mediumaquamarine;
  margin: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.css2 {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: red;
  margin: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.css3 {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: grey;
  margin: 5px;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}